body {
    padding: 20px;
    background-color: black; /* changed background color to black */
    color: white; /* changed text color to white */
    font-family: 'Poppins', sans-serif;
}

.container {
    background-color: rgba(255, 255, 255, 0.1); /* semi-transparent white background */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1); /* white shadow */
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.btn-primary {
    background-color: #ffffff; /* white background for button */
    border: 1px solid #ffffff; /* white border */
    color: black; /* black text color */
}

.btn-primary:hover {
    background-color: rgba(255, 255, 255, 0.5); /* semi-transparent white background on hover */
    border: 1px solid #ffffff; /* white border on hover */
}

.btn-primary::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.3); /* semi-transparent white glow */
    border-radius: 10px; /* match the button's border-radius */
    pointer-events: none; /* ensure the glow doesn't interfere with button clicks */
    animation: glowing 1500ms infinite alternate; /* glowing animation */
}

@keyframes glowing {
    from {
        opacity: 0.3;
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.3), 0 0 20px rgba(255, 255, 255, 0.3), 0 0 30px rgba(255, 255, 255, 0.3);
    }
    to {
        opacity: 1;
        box-shadow: 0 0 20px rgba(255, 255, 255, 0.5), 0 0 40px rgba(255, 255, 255, 0.5), 0 0 60px rgba(255, 255, 255, 0.5);
    }
}

/* Add this CSS to style the command buttons */
.cmd-btn {
    background-color: #007bff;
    border: 1px solid #007bff;
    color: white;
    margin: 5px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s; /* Added border-color transition */
    position: relative; /* Added position relative for pseudo-element positioning */
}

.cmd-btn:hover {
    background-color: #0056b3;
}

.cmd-btn.selected {
    background-color: #ffffff;
    color: transparent; /* Hide button text */
}

/* Add glowing text */
.cmd-btn::after {
    content: '';
    position: absolute;
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    top: -5px;
    left: -5px;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.3); /* semi-transparent white glow */
    pointer-events: none;
    z-index: -1; /* Place behind the button */
    animation: glowing-text 1500ms infinite alternate; /* glowing animation */
}

@keyframes glowing-text {
    from {
        opacity: 0.3;
    }
    to {
        opacity: 1;
    }
}
